language: objective-c
branches:
  only:
    - devel
    - master
env:
  matrix:
    - SCHEME=OptimizelySDKCore TEST_SDK=iphonesimulator PLATFORM=iOS Simulator OS=8.1 NAME='iPhone 5'
    - SCHEME=OptimizelySDKCore TEST_SDK=iphonesimulator PLATFORM=iOS Simulator OS=9.3 NAME='iPhone 6s Plus'
    - SCHEME=OptimizelySDKiOS TEST_SDK=iphonesimulator PLATFORM=iOS Simulator OS=8.1 NAME='iPhone 5'
    - SCHEME=OptimizelySDKiOS TEST_SDK=iphonesimulator PLATFORM=iOS Simulator OS=9.3 NAME='iPhone 6s Plus'
    - SCHEME=OptimizelySDKCore TEST_SDK=appletvsimulator PLATFORM=tvOS Simulator OS=9.2 NAME='Apple TV 1080p'
    - SCHEME=OptimizelySDKTVOS TEST_SDK=appletvsimulator PLATFORM=tvOS Simulator OS=9.2 NAME='Apple TV 1080p'
script:
- |
  if [  "$TRAVIS_BRANCH" == "devel" ]; then
    xcodebuild test -workspace OptimizelySDK.xcworkspace -scheme $SCHEME -configuration Debug CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -sdk $TEST_SDK -destination "platform=$PLATFORM,OS=$OS,name=$NAME";
  fi
  if [  "$TRAVIS_BRANCH" == "master" ]; then
    xcodebuild test -workspace OptimizelySDK.xcworkspace -scheme $SCHEME -configuration Release CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -sdk $TEST_SDK -destination "platform=$PLATFORM,OS=$OS,name=$NAME";
  fi
