OPTIMIZELY_SDK_TV_OS_VERSION_MAJOR = 0
OPTIMIZELY_SDK_TV_OS_VERSION_MINOR = 1
OPTIMIZELY_SDK_TV_OS_VERSION_PATCH = 4
OPTIMIZELY_SDK_TV_OS_VERSION = $(OPTIMIZELY_SDK_TV_OS_VERSION_MAJOR).$(OPTIMIZELY_SDK_TV_OS_VERSION_MINOR).$(OPTIMIZELY_SDK_TV_OS_VERSION_PATCH)
GCC_PREPROCESSOR_DEFINITIONS_DEFAULT_TVOS = $(inherited) 'OPTIMIZELY_SDK_TV_OS_VERSION=@"$(OPTIMIZELY_SDK_TV_OS_VERSION)"'