#include "OptimizelySDKCore.xcconfig"
#include "Pods/Target Support Files/Pods-OptimizelySDKCore/Pods-OptimizelySDKCore.debug.xcconfig"
OPTIMIZELY_SDK_CORE_VERSION_PATCH = debug
GCC_PREPROCESSOR_DEFINITIONS=$(GCC_PREPROCESSOR_DEFINITIONS_DEFAULT_CORE) "LOG_FLAG_ERROR" "LOG_FLAG_DEBUG" "LOG_FLAG_INFO"