OPTIMIZELY_SDK_CORE_VERSION_MAJOR = 0
OPTIMIZELY_SDK_CORE_VERSION_MINOR = 1
OPTIMIZELY_SDK_CORE_VERSION_PATCH = 0
OPTIMIZELY_SDK_CORE_VERSION = $(OPTIMIZELY_SDK_CORE_VERSION_MAJOR).$(OPTIMIZELY_SDK_CORE_VERSION_MINOR).$(OPTIMIZELY_SDK_CORE_VERSION_PATCH)
GCC_PREPROCESSOR_DEFINITIONS_DEFAULT_CORE=$(inherited) 'OPTIMIZELY_SDK_CORE_VERSION=@"$(OPTIMIZELY_SDK_CORE_VERSION)"'
GCC_PREPROCESSOR_DEFINITIONS=$(GCC_PREPROCESSOR_DEFINITIONS_DEFAULT_CORE)
SUPPORTED_PLATFORMS = iphonesimulator iphoneos appletvos appletvsimulator
TARGETED_DEVICE_FAMILY = 1,2,3,4
IPHONEOS_DEPLOYMENT_TARGET = 8.0
TVOS_DEPLOYMENT_TARGET = 9.0
SWIFT_VERSION = 3.0