// Optimizely Settings
OPTIMIZELY_SDK_CORE_VERSION_MAJOR = 0
OPTIMIZELY_SDK_CORE_VERSION_MINOR = 1
OPTIMIZELY_SDK_CORE_VERSION_PATCH = 0
OPTIMIZELY_SDK_CORE_VERSION = $(OPTIMIZELY_SDK_CORE_VERSION_MAJOR).$(OPTIMIZELY_SDK_CORE_VERSION_MINOR).$(OPTIMIZELY_SDK_CORE_VERSION_PATCH)
GCC_PREPROCESSOR_DEFINITIONS_DEFAULT=$(inherited) 'OPTIMIZELY_SDK_CORE_VERSION=@"$(OPTIMIZELY_SDK_CORE_VERSION)"'
GCC_PREPROCESSOR_DEFINITIONS=$(GCC_PREPROCESSOR_DEFINITIONS_DEFAULT)

// Build Settings
SUPPORTED_PLATFORMS = iphonesimulator iphoneos appletvos appletvsimulator;
TARGETED_DEVICE_FAMILY = 1,2,3,4;

// Code Signing
CODE_SIGN_IDENTITY[sdk=iphone*] = iPhone Developer;

// Deployment Targets
IPHONEOS_DEPLOYMENT_TARGET = 8.0;
TVOS_DEPLOYMENT_TARGET = 9.0;

// SWIFT_VERSION is only recognized by Xcode 8 and higher.
// Prior versions of Xcode support only one Swift version.
SWIFT_VERSION = 3.0;