OPTIMIZELY_SDK_CORE_VERSION_MAJOR = 0
OPTIMIZELY_SDK_CORE_VERSION_MINOR = 1
OPTIMIZELY_SDK_CORE_VERSION_PATCH = 7
OPTIMIZELY_SDK_CORE_VERSION = $(OPTIMIZELY_SDK_CORE_VERSION_MAJOR).$(OPTIMIZELY_SDK_CORE_VERSION_MINOR).$(OPTIMIZELY_SDK_CORE_VERSION_PATCH)
GCC_PREPROCESSOR_DEFINITIONS_DEFAULT_CORE = $(inherited) 'OPTIMIZELY_SDK_CORE_VERSION=@"$(OPTIMIZELY_SDK_CORE_VERSION)"'
GCC_PREPROCESSOR_DEFINITIONS=$(GCC_PREPROCESSOR_DEFINITIONS_DEFAULT_CORE)
